@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

a,
body {
    margin: 0;
    padding: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: blue !important;
}

.main-btn:hover {
    color: black;
    background-color: brown;
}

.nav-link {
    font-weight: bold;
}

.container2 {
    background: url(../images/bg-1.jpg);
    /* background no-repeat center center/cover; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;
}

h1 {
    font-weight: bold;
    margin: 5px;
    margin-top: 100px;
    margin-left: 50px;
    margin-bottom: 100px;

}

.main-btn,
p {

    margin-left: 50px;
    margin-bottom: 100px;
    word-spacing: 20px;

}

.btn {
    border-color: black;
    margin-bottom: 100px;


}

.btn:hover {
    color: blue;
}

.nav-link2{
    word-spacing: 300px;
    background-color: brown;
    height: 50px;
}

/* h1{
 align-items: center;
 margin: 0;   
 padding: 0;
} */