  /* home */
  *{
  margin: 0%;
  padding: 0%;
}

.navbar-collapse{
  justify-content: center;
  background-color: transparent;
}

 .home-page{
    color: aqua;
    background: url(images/html.jpg) no-repeat center center/cover ;
    width:100%;
    height: 100vh;

 }


.head{
  text-align: center;
  margin: 50px;
  padding: 50px;
}

.para{
  margin-left: 30%;
  width: 30%;
}

.vtn:hover {
color:blueviolet;
background-color: transparent;
}
.vtn{
  color:black;
  background-color:rgb(138, 113, 113);
  border-radius: 5px;
  margin-left: 40%;
}

.About-page
{
  background: url(images/about1.jpg) no-repeat center center/cover;
  width: 100%;
  height:100vh;
}
.head-about{
  margin-top: 20%;
  margin-left: 30%;
  width:20%;

}
.para-about{
  margin-left:10%;
  background-size: cover;
  width: 40%;
}
.impact{
  background-color: rgb(103, 103, 146);
  width: 100%;
  height: 30vh;
}
input{
  width:30%;
  border-radius: 5px;
  height: 50px 
}
.imp{
display: flex;
justify-content: center;
text-align: center;
}
.heads{
  text-align: center;
}
.facilities{
  color: rgb(201, 79, 79);
  /* background-color: rgb(152, 144, 159); */
  /* margin-top:20%; */
}
.card-facilities{
  display: flex;
}
.card-img-top{
  width: 100%;
  height: 400px;
}
.Testimonals{
  background-color: rgb(123, 236, 202);
}  
.btn-cont{
  background-color: brown;
  border-radius: 5px;
}        
 .btn-cont:hover{
  background-color: rgb(168, 168, 230);
 }
.swiper-slide{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height:10%;
}
.swiper-slide img{
    width: 20%;
}
.test-para{
  width: 80%;
}
.test-img{
  border-radius: 50%;
}
.card{
  display: flex;
}



  /* contact */

.form-main {
  background: url(images/cont.jpg) no-repeat center center/cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .main-wrapper {
    border-radius: 10px;
    padding: 45px;
    width: 40%;
    box-shadow: 0 0 5px 5px #00000020;
    backdrop-filter: blur(5px);
    background-color: #ffffff85;
    @media screen and (max-width: 991px) {
      width: 70%;
    }
    @media screen and (max-width: 767px) {
      width: 90%;
    }
    .form-head {
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      text-align: center;
      margin: 0px 0 25px;
    }
    .form-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 15px;
      .form-card {
        position: relative;
        width: 100%;

        .form-input {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid gray;
          }

          &:valid ~ .form-label,
          &:focus ~ .form-label {
            color: color-gray;
            top: 30%;
            transform: translateY(-70%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
          &:-webkit-autofill:active {
            transition: background-color 9999s ease-in-out 0s;
          }
          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }

        .form-label {
          position: absolute;
          left: 25px;
          top: 50%;
          transform: translateY(-50%);
          pointer-events: none;
          transition: 0.3s;
          margin: 0;
          font-size: 18px;
          line-height: 28px;
          font-weight: 500;
        }
        .form-textarea {
          padding: 20px 25px 15px;
          width: 100%;
          border: 1px solid black;
          border-radius: 5px;
          background: transparent;
          outline: none;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          resize: none;
              box-sizing: border-box;

          &:valid,
          &:focus {
            border: 1px solid gray;
          }
          

          &:valid ~ .form-textarea-label,
          &:focus ~ .form-textarea-label {
            color: gray;
            top: 18%;
            transform: translateY(-82%);
            font-size: 13px;
            line-height: 23px;
          }

          &:-webkit-autofill,
          &:-webkit-autofill:hover,
          &:-webkit-autofill:focus,
         /*----- footer------- */
         .footer{
          color:#fff;
          background-color: #0d2857;
          }
          
          .list-style{
          list-style-type:none!important;
          cursor:pointer;
          font-size:.75rem;
          opacity:.8;
          }
          .copy-right{
          font-size:.75rem;
          opacity:.8;
          }
          .Analyst {
          width: 87.7px;
          height: 23.7px;
          margin: 10.7px 0 5.2px 10.2px;
          color: #fff;
          }

          